<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        Git-Search
      </a>
    </div>
  </nav>

<div class="container">
    <div class="row">
        <div class="col1">
            <div class="card" id="bg-img">
                <div class="card-header text-info mb-3 text-center">
                    <h4>Git User Search</h4>
                </div>
                <div class="card-body">
                    <form class="form-inline mb-4">
                        <div class="form-group"(submit)="searchUser()">
                            <input [(ngModel)]="githubUserQuery"  name="user" size ="50px"type="search" class="form-control" placeholder="Search Here">
                        </div>
                         
                        <div>
                            <input type="submit" value="Search" class="btn btn-secondary btn-sm">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <app-githubprofile [githubProfile]="githubProfile"></app-githubprofile>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <app-githubrepo [githubRepos]="githubRepos"></app-githubrepo>
        </div>
    </div>
</div>
