<div class="bg-img">
<div class="text-center  mx-5 wow fadeIn">
    <h3 class="mb-4">
      <h2 class="h2 text-info mb-3 animated bounce infinite
      ">Search the user on Github <i class="fas fa-id-card"></i></h2>
      
    </h3>
<div class="mb-4" >
    <!-- Search form -->
  <input class="form-control text-center" name="userName" type="text"  placeholder="Input the username" aria-label="Search">
  
  </div>
  <div class="mb-4">
  <a target="_blank" class="btn btn-outline-white btn-lg text-info" type="button"   >Find User 
    <i class="fas fa-search ml-2 animated wobble infinite"></i>
  </a>
</div>
<div class="form-group mb-4">
  <a target="_blank" class="btn btn-outline-white btn-lg text-info" type="button"  > Show Repos 
    <i class="fas fa-search ml-2 animated wobble infinite"></i>
  </a>
</div>
</div>
</div>

<table class="table table-striped">
  <thead>
    <tr class="table-info">
      <th scope="col">#</th>
      <th scope="col">UID</th>
      <th scope="col">Title</th>
      <th scope="col">Body</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let result of data">
      <th scope="row">{{ result['html_url'] }}</th>
      <td>{{ result['userName'] }}</td>
      <td>{{ result['email'] }}</td>
      <td>{{ result['followers_url'] }}</td>
    </tr>
  </tbody>
</table>


